<h1 mat-dialog-title>Nowy test</h1>

<mat-dialog-content>
  <form [formGroup]="multiTest">
    <mat-form-field appearance="fill">
      <mat-label>Pytanie</mat-label>
      <input matInput placeholder="Np. Co oznacza słowo 'sink'?"
        formControlName="question" />
      <mat-error>To pole jest wymagane</mat-error>
    </mat-form-field>

    <p>Lista odpowiedzi</p>

    <section>
      <ng-container formArrayName="answers">
        <mat-form-field appearance="fill"
          *ngFor="let answer of answers.controls; let i=index">
          <mat-label>Prawidłowa odpowiedź</mat-label>
          <input matInput placeholder="Np. zlew" [formControlName]="i"
            required />
          <mat-error>To pole jest wymagane</mat-error>
          <button matSuffix mat-icon-button *ngIf="i > 0" class="lighter-icon"
            (click)="deleteAnswer(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>

      <button mat-icon-button (click)="createNewAnswer()">
        <mat-icon>add</mat-icon>
      </button>
    </section>

    <section>
      <ng-container formArrayName="decoys">
        <mat-form-field appearance="fill"
          *ngFor="let decoy of decoys.controls; let i=index">
          <mat-label>Inna odpowiedź</mat-label>
          <input matInput placeholder="Np. śpiewać" [formControlName]="i"
            required />
          <mat-error>To pole jest wymagane</mat-error>
          <button matSuffix mat-icon-button *ngIf="i > 0" class="lighter-icon"
            (click)="deleteDecoy(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>

      <button mat-icon-button (click)="createNewDecoy()">
        <mat-icon>add</mat-icon>
      </button>
    </section>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent" [disabled]="!multiTest.valid || !valid"
    [mat-dialog-close]="multiTest.value">
    Zapisz
  </button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
