$card-height: 100px;

mat-card {
  display: flex;
  overflow: hidden;
  height: $card-height;
  padding: 0;
}

.team-image {
  object-fit: cover;
  height: $card-height;
  width: $card-height;
}

header {
  box-sizing: border-box;
  padding: 0.2em 1em;
  overflow: hidden;
}

mat-card-title { padding: 0.2em 0 }

.spacer { flex-grow: 1 }

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.5em 0.5em 0;
}
