section {
  height: 100%;
  box-sizing: border-box;
  padding: 6em 0 0;
  background-image: url('/assets/start-page-splash.jpg');
  background-size: cover;
}

header {
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 10px #0003;
}

.title {
  margin-bottom: 0.5rem;
  letter-spacing: 0.5rem;
}

.subtitle {
  letter-spacing: 0.05rem;
}

button { margin-top: 1em }
