section {
  margin: 6em auto 0;
  text-align: center;
}

.title {
  margin-bottom: 0.5rem;
  letter-spacing: 0.5rem;
}

.subtitle {
  letter-spacing: 0.05rem;
}

button { margin-top: 1em }