<main class="limited-width" *ngIf="team">
  <header>
    <app-team-card [team]="team" [leaderView]="leaderView" context="Team"></app-team-card>
  </header>

  <section *ngIf="leaderHasProgressView && team.hasTasks()">
    <app-team-progress [user]="loggedUserWithProgress" [tasks]="team.tasks">
    </app-team-progress>
  </section>

  <section>
    <mat-card>
      <mat-tab-group mat-stretch-tabs mat-align-tabs="center" color="accent"
          animationDuration="0">
        <mat-tab label="Zadania">
          <section *ngIf="!team.hasTasks()" class="hint">
            <h3>Nie ma jeszcze żadnych zadań</h3>
          </section>
          <app-task-list *ngIf="team.hasTasks()"
            [user]="loggedUserWithProgress" [team]="team" [leaderView]="leaderView">
          </app-task-list>
        </mat-tab>
        <mat-tab label="Uczestnicy">
          <section class="hint" *ngIf="!team.hasMembers()">
            <h3>Zaproś nowych członków, wysyłając im kod zespołu</h3>
          </section>
          <app-member-list *ngIf="team.hasMembers()"
            [team]="team" [leaderView]="leaderView">
          </app-member-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </section>
</main>
