.sidebar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
header{
  margin: 10px;
  //float: left;
}
.localTaskContainer{
   display: inline;
   margin-bottom: 20px;
}
a{
    color: unset;
    text-decoration: none;
}
#nazwaUzytkownika{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 100px;

}
img{
    width: 40px;
    height: 40px;
}
img[alt="avatar"]{
    border-radius: 50%;
}
img[alt="second image"]{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 17px;
    border-radius: 50%;
}
p{
    font-size: 12px;
    margin-left: 44px;
    margin-top: -7px;
}
#napisZadaniaLokalne{
    margin-top: -44px;
    font-size: 16px;
}