<div class="sidebar">
    <header>
        
         <img src={{userAccount.avatarURL}} alt="avatar">
         <a href='/account' id="nazwaUzytkownika">
                {{userAccount.user.firstname}} {{userAccount.user.surname}}
        </a>
        <img src={{userAccount.avatarURL}} alt="second image">
    </header>
    <div class="localTaskContainer">
      <a href="/local">
         <img src={{userAccount.avatarURL}} alt="pictureOfLocalTask">
         <p id="napisZadaniaLokalne">Zadania lokalne<br/></p>
        <p>Zadania zapisane lokalnie</p> 
      </a>
    </div>
    <div>
        <app-team-container [teams]="teams" [title]="'Ostatnie zespoły'">
            <div class="grid-container">
                <app-team-card *ngFor="let team of teams" [team]="team">
                </app-team-card>
              </div>
        </app-team-container>
  
    </div>
</div>