<header>
  <section>
    <span class="overline">{{ task.type.name }}</span>
    <h1 mat-dialog-title>{{ task.name }}</h1>
  </section>

  <div class="spacer"></div>

  <button mat-icon-button [matMenuTriggerFor]="taskMenu.menu"
      (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <app-task-menu #taskMenu [task]="task" [users]="users"></app-task-menu>
</header>

<p>{{ task.description }}</p>
<p class="mat-card-subtitle">
  Uczestnicy którzy wykonali zadanie
  ({{ numberOfUsersWithProgress() }}/{{ users.length }})
</p>

<mat-dialog-content>
  <mat-list>
    <app-member-list-item *ngFor="let user of users" [member]="user">
    </app-member-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
