<header>
  <section>
    <span class="overline">{{ task.type.name }}</span>
    <h1 mat-dialog-title>{{ task.name }}</h1>
  </section>
</header>

<p>{{ task.description }}</p>
<p class="mat-card-subtitle">
  Uczestnicy którzy wykonali zadanie ({{ getUsersWithProgress() }})
</p>

<mat-dialog-content>
    <app-member-list [task]="task" [team]="team"></app-member-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
