<mat-card>
  <mat-card-subtitle>TYP ZADANIA</mat-card-subtitle>
  <mat-card-title>Zadanie</mat-card-title>
  <mat-card-subtitle>Krótki opis zadania</mat-card-subtitle>

  <mat-card-content>
    <p class="mat-card-subtitle">Uczestnicy którzy wykonali zadanie (5/8)</p>

    <mat-list>

            <mat-list-item *ngFor="let link of [1,2,3,4,5]">
                <h4 matLine >Uczestnik</h4>
                <p>
                 80%
                </p>
                <mat-divider></mat-divider>

              </mat-list-item>

    </mat-list>






  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ZAMKNIJ</button>
  </mat-card-actions>
</mat-card>
