<header>
  <section>
    <span class="overline">{{ task.type.name }}</span>
    <h1 mat-dialog-title>{{ task.name }}</h1>
  </section>

  <div class="spacer"></div>

  <button mat-icon-button [matMenuTriggerFor]="taskMenu.menu"
    (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <app-task-menu #taskMenu [task]="task" [team]="team"></app-task-menu>
</header>

<mat-dialog-content>
  <p>{{ task.description }}</p>
  <p>{{ task.type.description }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <a mat-button mat-dialog-close color="accent"
    routerLink="team/{{ team.id }}/task/{{ task.id }}">
    Rozpocznij
  </a>
  <button mat-button mat-dialog-close>Anuluj</button>
  <ng-container *ngIf="task.type.name==='Fiszka'">
  <div class="spacer"></div>
  <mat-label>Słówka:</mat-label>
  <mat-radio-group>
    <mat-radio-button value="foreignWord" (click)="isForeignVersion(true)"
      checked="true">obce</mat-radio-button>
    <mat-radio-button value="nativeWord" (click)="isForeignVersion(false)">
      tłumaczenie</mat-radio-button>
  </mat-radio-group>
</ng-container>
</mat-dialog-actions>
