.spacer { flex: 1 1 auto }

a.homepage,
a.homepage:visited,
a.homepage:active {
  color: unset;
  text-decoration: none;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-left: 0.5em;
  border-radius: 50%;
}

mat-sidenav {
  width: 304px;
  padding: 1em;
}

$toolbar-height: 64px;
mat-sidenav-container { height: calc(100vh - #{$toolbar-height}) }
