<mat-toolbar color="primary">
  <button mat-icon-button [disabled]="!userIsLogged" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="bread-crumbs">
      <a class="bread-crumb" *ngFor="let breadCrumb of breadCrumbs; last as last"
          [routerLink]="breadCrumb.route">
        <span>{{ breadCrumb.label }}</span>
        <span *ngIf="!last" class="bread-crumb-slash">/</span>
      </a>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="userIsLogged">
    <a class="user-name" routerLink="/account">{{ user | fullNamePipe }} </a>
    <app-avatar [user]="user"></app-avatar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/account">
        <mat-icon>account_circle</mat-icon>
        <span>Konto</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj się</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!userIsLogged">
    <button mat-button routerLink="/register">
      Rejestracja
    </button>
    <button mat-button routerLink="/login">
      Logowanie
    </button>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav><app-sidebar></app-sidebar></mat-sidenav>

  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>