<mat-toolbar color="primary">
  <button mat-icon-button
      [disabled]="this.router.url === '/start' || this.router.url === '/login'"
      (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="bread-crumbs">
      <a class="bread-crumb" *ngFor="let breadCrumb of breadCrumbs; last as last"
          [routerLink]="breadCrumb.route">
        <span>{{ breadCrumb.label }}</span>
        <span *ngIf="!last" class="bread-crumb-slash">/</span>
      </a>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="this.router.url!=='/start' && this.router.url!=='/login'">
    <span class="user-name">{{ user | fullNamePipe }} </span>
    <div class="image"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/account">
        <mat-icon>account_circle</mat-icon>
        <span>Konto</span>
      </button>
      <button mat-menu-item routerLink="/start">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj się</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav><app-sidebar></app-sidebar></mat-sidenav>

  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>