.bread-crumb,
.bread-crumb:visited,
.bread-crumb:active {
  color: unset;
  text-decoration: none;
}

// Every bread-crumb afte first bread-crumb
.bread-crumb + .bread-crumb, .bread-crumb-slash {
  font-weight: 300;
  color: #FFF7;
}

.bread-crumb-slash {
  display: inline-block;
  margin: 0 0.4em;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-left: 0.5em;
  border-radius: 50%;
}

mat-sidenav {
  width: 304px;
  padding: 1em;
}

$toolbar-height: 64px;
mat-sidenav-container { height: calc(100vh - #{$toolbar-height}) }

.image {
  background: radial-gradient(transparent, rgba(193, 230, 240, 0.781));
  width: 32px;
  height: 32px;
  margin-left: 0.2em;
  border-radius: 50%;
}
