header {
  margin: 8px;
  padding: 10px;
  max-width: 80%;
}

a {
  color: unset;
  text-decoration: none;
}
#nazwaUzytkownika {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 100px;
}

.image {
  display: inline;
  background: radial-gradient(transparent, rgba(193, 230, 240, 0.781));
  border-radius: 50%;
}
mat-icon {
  width: 20px;
  height: 20px;
  float: right;
  color: rgba(0, 0, 0, 0.54);
}
