<span class="overline">{{ task.type.name }}</span>
<h1 mat-dialog-title>
  {{ task.name }}
</h1>

<mat-dialog-content>
  <p class="mat-card-subtitle">Podsumowanie twojego podejścia</p>
  <section *ngIf="notKnownWords.length === 0">
    <h3>Gratulacje, wszystkie przykłady zostały zaliczone!</h3>
  </section>
  <section *ngIf="notKnownWords.length > 0">
    <h3>Lista niezaliczonych przykładów</h3>
    <mat-list>
      <mat-list-item *ngFor="let example of notKnownWords; last as last">
        <div class="flex-container">
          <span>{{ example.foreignWord }}</span>
          <span>{{ example.question }}</span>
          <span class="spacer"></span>
          <span>{{ example.nativeWord }}</span>
          <span>{{ example.answer}}</span>
          <span>{{ example.answers}}</span>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="getProgress()" color="accent">Zapisz</button>
  <button mat-button mat-dialog-close>Powtórz</button>
</mat-dialog-actions>
