<p class="overline">{{ task.type.name }}</p>
<h1 mat-dialog-title>
  {{ task.name }}
</h1>

<mat-dialog-content>
  <p class="mat-card-subtitle">Podsumowanie twojego podejścia</p>
  <h3>Lista niezaliczonych przykładów</h3>
  <mat-list>
    <mat-list-item *ngFor="let example of notKnownWords">
      <div class="flex-container">
        <span>{{ example.foreignWord }}</span>
        <span class="spacer"></span>
        <span>{{ example.nativeWord }}</span>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="getProgress()" color="accent">Zapisz</button>
  <button mat-button mat-dialog-close>Powtórz</button>
</mat-dialog-actions>
