mat-card {
  max-width: 400px;
  margin: 100px auto;
}

span.above { display: block }

mat-card-content { margin: 4em 0 }
h1 { text-align: center }

mat-card-actions {
  display: flex;
  justify-content: center;
}