<h1 mat-dialog-title>Nowa fiszka</h1>

<mat-dialog-content>
  <form >
    <mat-form-field appearance="fill">
      <mat-label>Słówko obce</mat-label>
      <input matInput placeholder="Ex. Apple"  [(ngModel)]="data.obce" name="nazwa" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Słówko przetłumaczone</mat-label>
      <input matInput placeholder="Np. Jabłko" [(ngModel)]="data.narodowe" name="nazwa2" required>
    </mat-form-field>
  </form>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Grafika</mat-label>
      <input matInput type="text" formControlName="image">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent"  [mat-dialog-close]="data">
    UTWÓRZ
  </button>
  <button mat-button mat-dialog-close (click)="onNoClick()">ANULUJ</button>
</mat-dialog-actions>
