<h1 mat-dialog-title>Nowa fiszka</h1>

<mat-dialog-content>
  <form [formGroup]="simpleCard">
    <mat-form-field appearance="fill">
      <mat-label>Słówko obce</mat-label>
      <input matInput placeholder="Ex. Apple" formControlName="foreign" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Słówko przetłumaczone</mat-label>
      <input matInput placeholder="Np. Jabłko" formControlName="native" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Grafika</mat-label>
      <input matInput type="text" formControlName="image" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent" [mat-dialog-close]="simpleCard.value">
    Zapisz
  </button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
