div {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  color: #fffc;
  border-radius: 50%;
  background: radial-gradient(transparent ,#0004);
  box-shadow: 0 0 3px 0 #0004;
}
