<mat-card>
  <div class="team-image color-shader" [style.background-color]="team.color">
    <span>{{ team.name[0]?.toUpperCase() }}</span>
  </div>

  <header>
    <div class="overline">{{ team ? (team.leader | fullNamePipe) : "" }}</div>
    <mat-card-title>{{ team?.name }}</mat-card-title>
    <mat-card-subtitle>{{ team?.description }}</mat-card-subtitle>
  </header>

  <div class="spacer"></div>

  <div class="actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button *ngIf="leaderView" mat-menu-item (click)="teamSettings()">
        <mat-icon>settings</mat-icon>
        <span>Ustawienia</span>
      </button>
      <button mat-menu-item (click)="copyToClipboard()">
        <mat-icon>link</mat-icon>
        <span>Kod zespołu</span>
      </button>
      <button *ngIf="leaderView" mat-menu-item
          (click)="openDeleteDialog()">
        <mat-icon>delete</mat-icon>
        <span>Usuń</span>
      </button>
      <button *ngIf="!leaderView" mat-menu-item
          (click)="openLeaveDialog()">
        <mat-icon>logout</mat-icon>
        <span>Opuść</span>
      </button>
    </mat-menu>

    <button mat-mini-fab *ngIf="context === 'TeamContainer'"
        routerLink="/team/{{ team?.id }}">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div *ngIf="context === 'Team'">
      <button *ngIf="leaderView" mat-raised-button color="accent" (click)="newTaskDialog()">
        Nowe zadanie
      </button>
      <button mat-button color="accent" (click)="copyToClipboard()">
        Kod zespołu
      </button>
    </div>
  </div>
</mat-card>
