<mat-card>
  <mat-card-title>Zaloguj się</mat-card-title>

<mat-dialog-content>
  <form >
    <mat-form-field appearance="fill">
      <input matInput placeholder="Email" name="nazwa" required>
    </mat-form-field>
<br/>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Hasło" name="nazwa2" type="password">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <a mat-stroked-button color="accent" href="/workspace">
    Zaloguj
  </a>
</mat-dialog-actions>

</mat-card>