.mat-card{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    background: powderblue;
}

.mat-card-title {padding: 2em;}

.mat-form-field{width: 40%;}

.mat-stroked-button{font-size: 20px;}
