<h1 mat-dialog-title>Zmień adres email</h1>

<mat-dialog-content>
  <form [formGroup]="emailForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent"
      [disabled]="emailForm.invalid"
      [mat-dialog-close]="getValue()">
    Zapisz
  </button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>