.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0 30px;
  }
  #example-radio-group-label { font-size: 16px; font-weight: 500;}

  .example-radio-button {
    margin: 5px;
  }
  mat-card {
    max-width: 400px;
    margin: 100px auto;
  }

  span.above { display: block }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  .examples{
    justify-content: center;
    display:grid;}