mat-card {
  max-width: 800px;
  margin: 100px auto;
  padding: 1em 2em;
}

mat-card-title { margin-bottom: 1.5em }

span.above { display: block }

section { margin: 2.5em 0 }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em 0;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

mat-radio-button { margin: 0.3em 0 }
