<mat-card>
  <mat-card-title>
    <span class="overline above">{{task?.type?.name}}</span>
    {{task.name}}
  </mat-card-title>

  <mat-card-content>
    <section *ngFor="let item of task.examples; let index = index;">
      <label>{{item.question}}</label>
      <mat-radio-group [(ngModel)]="correctAnswer[index]">
        <ul>
          <li *ngFor="let ans of item.decoys">
            <mat-radio-button [value]="ans">{{ans}}
            </mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </section>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent" (click)="sum()">
      Gotowe
    </button>
  </mat-card-actions>
</mat-card>
