<mat-expansion-panel class="mat-elevation-z0" expanded="true">
  <mat-expansion-panel-header class="centered">
    <h2 class="heading-fix">{{ title }}</h2>
  </mat-expansion-panel-header>

  <div *ngIf="(teams?.length || 0) > 0 then content else placeholder"></div>
</mat-expansion-panel>

<ng-template #content>
  <div class="grid-container">
    <app-team-card *ngFor="let team of teams"
      [team]="team"
      [leaderView]="leaderView"
      context="TeamContainer">
    </app-team-card>
  </div>
</ng-template>

<ng-template #placeholder>
  <div class="placeholder-text">
    <p>Brak zespołów</p>
  </div>
</ng-template>
