<h1 mat-dialog-title>Dodawanie zespołu</h1>
<p>Dołącz do zespołu lub utwórz nowy</p>

<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs dynamicHeight>

    <mat-tab label="Dołącz">
      <form [formGroup]="idForm">
        <p>Podaj kod dostarczony przez prowadzącego</p>
        <mat-form-field appearance="fill">
          <mat-label>Kod zespołu</mat-label>
          <input matInput type="text" formControlName="id"
              placeholder="np. 39d2d8d7-8d70-4f2b-b67a-5e22586ca6df">
          <mat-error>Podany kod jest niepoprawny</mat-error>
        </mat-form-field>
      </form>
    </mat-tab>

    <mat-tab label="Utwórz">
      <app-team-form [teamForm]="teamForm"></app-team-form>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent"
    [disabled]="isInvalidTab()"
    (click)="submit()">Ok</button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
