<h1 mat-dialog-title>Zmień nazwę użytkownika</h1>

<mat-dialog-content>
  <form [formGroup]="usernameForm">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent"
      [disabled]="usernameForm.invalid"
      [mat-dialog-close]="getValue()">
    Zapisz
  </button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>