mat-card {
    max-width: 800px;
    margin: 2em auto;
  }

  .example-button-container     { text-align: center }
  mat-form-field, mat-list-item { width: 100% }

  .action     { opacity: 0.6 }
  .right-word { margin-right: 1em }
  .correct{ color: green;}
  .incorrect {color: red;}