.example-button-container{
    text-align: center;
    margin-top: 10px;
}
mat-card-header{
    text-align: left;
}
mat-card-actions{
    margin:30px;
  }
  p{
      font-size: 20px;
      font-weight: bold;
  }
  .mat-card-header .mat-card-subtitle:not(:first-child),p.mat-card-subtitle{
    font-size: 15px;
    margin-top: 5px;
}
.mat-card-subtitle{
    font-size: 10px;
  }
#matLine{
    font-size: 16px;
    margin: 0 0 0;
}
