<mat-list>
  <mat-list-item *ngFor="let member of team | sortMembers: user; last as last; first as first">
    <mat-icon *ngIf="member === bestMember" id="best">star_rate</mat-icon>
    <app-avatar *ngIf="first"  [user]="member" matListAvatar></app-avatar>
    <app-avatar *ngIf="!first" [user]="member" matListAvatar></app-avatar>
    <h4 matLine>{{ member | fullNamePipe }}</h4>
    <p>
      {{ getCompletion(member) }}% postępu
      <mat-progress-spinner color="accent" diameter="20"
        [value]="getCompletion(member)">
      </mat-progress-spinner>
    </p>

    <button *ngIf="leaderView" mat-icon-button (click)="removeMember(member)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
