<mat-list>
  <mat-list-item *ngFor="let member of team.members | sortMembers: user; last as last; first as first">
    <!-- <img matListAvatar src="assets/avatar_placeholder.jpg" /> -->
    <div *ngIf="first" class="image" matListAvatar></div>
    <div *ngIf="!first" class="image2" matListAvatar></div>
    <h4 matLine>{{ member | fullNamePipe }}</h4>
    <p>
      {{ getCompletion(member) }}% postępu
      <mat-progress-spinner color="accent" diameter="20"
        [value]="getCompletion(member)">
      </mat-progress-spinner>
    </p>

    <button *ngIf="leaderView" mat-icon-button (click)="removeMember(member)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
