<mat-list-item (click)="launchTask()" disableRipple>
  <h4 matLine>
    <span class="overline above">{{ task.type.name }}</span>
    {{ task.name }}
  </h4>

  <p>Średni wynik: {{ completion }}% </p>
  <button mat-icon-button [matMenuTriggerFor]="menu"
      (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-list-item>
<mat-divider></mat-divider>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="taskDescription()">
    <mat-icon>info_outline</mat-icon>
    <span>Szczegóły</span>
  </button>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edytuj</span>
  </button>
  <button mat-menu-item>
    <mat-icon>download</mat-icon>
    <span>Eksportuj</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Usuń</span>
  </button>
</mat-menu>
