<h1 mat-dialog-title>Ustawienia zespołu</h1>
<p>Zmień tytuł, opis lub ustaw kolor zespołu</p>

<mat-dialog-content>
  <app-team-form [teamForm]="teamForm">
    <mat-slide-toggle color="primary"
        [checked]="isLeaderProgressActivated()"
        (change)="toggleLeaderProgressActivation($event)">
      Zapisuj postępy lidera zespołu
    </mat-slide-toggle>
  </app-team-form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent"
    [disabled]="teamForm.invalid"
    (click)="submit()">Ok</button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
