<main class="limited-width">
  <header>
    <app-team-card [team]="team" context="Team"></app-team-card>
  </header>

  <section>
    <br><br>
    <h2>*Podsumowanie*</h2>
    <br><br>
  </section>

  <section>
    <mat-card>
      <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
        <mat-tab label="Zadania">
          <app-task-list-item></app-task-list-item>
        </mat-tab>
        <mat-tab label="Uczestnicy">
          <app-member-list-item></app-member-list-item>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </section>
</main>
