<main class="limited-width">
  <header>
    <app-team-card [team]="team" context="Team"></app-team-card>
  </header>

  <section>
    <br><br>
    <h2>*Podsumowanie*</h2>
    <br><br>
  </section>

  <section>
    <mat-card>
      <mat-tab-group mat-stretch-tabs mat-align-tabs="center" color="accent"
          animationDuration="0">
        <mat-tab label="Zadania">
          <mat-action-list>
            <app-task-list-item *ngFor="let task of team?.tasks"
              [task]="task"
              [completion]="taskSummary(task)">
            </app-task-list-item>
          </mat-action-list>
        </mat-tab>
        <mat-tab label="Uczestnicy" [disabled]="team?.members?.length === 0">
          <mat-list>
            <app-member-list-item *ngFor="let member of team?.members"
              [member]="member">
            </app-member-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </section>
</main>
