<h1 mat-dialog-title>Zmień swoje hasło</h1>

<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent"
      [disabled]="!passwordForm.valid"
      [mat-dialog-close]="getValue()">
    Zapisz
  </button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>