<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="taskDescription()">
    <mat-icon>info_outline</mat-icon>
    <span>Szczegóły</span>
  </button>
  <button mat-menu-item>
    <mat-icon>download</mat-icon>
    <span>Eksportuj</span>
  </button>
  <button *ngIf="leaderView" mat-menu-item (click)="editTask()">
    <mat-icon>edit</mat-icon>
    <span>Edytuj</span>
  </button>
  <button *ngIf="leaderView" mat-menu-item (click)="removeItself()">
    <mat-icon>delete</mat-icon>
    <span>Usuń</span>
  </button>
</mat-menu>