<h1 mat-dialog-title>Dodawanie zadania</h1>
<p>Stwórz nowe zadanie dla swojego zespołu</p>

<mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Wybierz typ zadania</mat-label>
      <mat-select placeholder="Placeholder" value="option2" disabled="false">
        <mat-option value="option1">Fiszka prosta</mat-option>
        <mat-option value="option2">Fiszka trudna</mat-option>
        <mat-option value="option3">Option3</mat-option>
        <mat-option value="option4">Option4</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Importuj zadanie z pliku</mat-label>
      <input matInput type="text" formControlName="image">
     <!-- <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
<br>

<mat-file-upload-queue #fileUploadQueue
    [fileAlias]="'file'"
    [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">

    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
</mat-file-upload-queue>-->
      <mat-hint>Typ zadania musi się zgadzać z wybranym powyżej</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent" (click)="submit()">
    UTWÓRZ
  </button>
  <button mat-button mat-dialog-close>ANULUJ</button>
</mat-dialog-actions>
