header {
  margin: 4em auto;
  text-align: center;
}

section { margin: 2em auto }

.search-box {
  display: block;
  width: 350px;
  margin: 0 auto;
  border-bottom: 0;
}

h1.mat-display-2{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 55px;
}
