<header>
  <h1 class="mat-display-2">
    Chwytliwy nagłówek, który sprawi że każdy będzie
    chciał skorzystać z tej aplikacji
  </h1>
  <button mat-raised-button color="accent" class="uppercase"
    (click)="createTeam()">Nowy zespół</button>
</header>

<mat-divider></mat-divider>

<section>

  <mat-form-field appearance="fill" class="search-box">
    <mat-label>Wyszukaj zespoły</mat-label>
    <span matPrefix><mat-icon>search</mat-icon></span>
    <input matInput type="text" [(ngModel)]="search">
    <button matSuffix mat-icon-button aria-label="Clear"
      *ngIf="search"
      (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-accordion multi>
    <app-team-container
      [teams]="teams"
      [title]="'Moje zespoły'"
      [description]="'Zespoły które prowadzisz'">
    </app-team-container>
    <app-team-container
      [teams]="teams"
      [title]="'Przynależne zespoły'"
      [description]="'Zespoły których jesteś członkiem'">
    </app-team-container>
  </mat-accordion>
</section>
