header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section { margin: 2em auto }

.search-box {
  width: 350px;
  padding-top: 1rem;
  margin-right: 1em;
}

h1.gentle-text{
  font-size: 22px;
  font-weight: 300;
  text-align: center;

}
h1.gentle-text>img{
  width: 3em; height: 3em;
  transform: scaleX(-1);
  margin-bottom: -40px;
}
