header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section { margin: 2em auto }

.search-box {
  width: 350px;
  padding-top: 1rem;
  margin-right: 1em;
}

h1.gentle-text{
  font-weight: lighter;
  text-align: center;
  margin: 0 3.5em 2em 0;
}

h1.gentle-text > img {
  width: 3em;
  height: 3em;
  margin-bottom: -2.3em;
}
